# Pycharm
.idea
*.png

# logs
filebeat/logs/*/*.log
filebeat/logs/*/*/*.log
filebeat/logs/*/*.lck
filebeat/logs/*/*.gz
filebeat/logs/*/*/*.gz

## Cherry picked python gitignore from: https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# pyenv
.python-version

# Environments
.venv
env/
venv/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# cloned github repo
externals/*

# ETL input/output data
data/synthea-demo-data
outputs/

# Jupyter notebooks
notebooks/.ipynb_checkpoints

# Symbolic link from dh.sh to rit.sh (old name)
rit.sh

# Github
.github/
# VS Code
.vscode/