# Pycharm
.idea
*.png

# CA certificates
filebeat/certs/

## Cherry picked python gitignore from: https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# pyenv
.python-version

# Environments
.venv
env/
venv/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# cloned github repo
externals/*
demo_data/
outputs
notebooks/.ipynb_checkpoints

# logs
filebeat/logs
