# Pycharm
.idea
*.png

# logs
filebeat/logs/*/*.log
filebeat/logs/*/*/*.log
filebeat/logs/*/*.lck
filebeat/logs/*/*.gz
filebeat/logs/*/*/*.gz

## Cherry picked python gitignore from: https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# pyenv
.python-version

# Environments
.venv
env/
venv/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# cloned github repo
externals/*

# ETL input/output data
outputs/

# Jupyter notebooks
notebooks/.ipynb_checkpoints

# Symbolic link from dh.sh to rit.sh (old name)
rit.sh
# Github
.github/
# VS Code
.vscode/

# secrets for local (dev)
deploy/overlays/local/shared-components/terminology-server-proxy-secret/secrets.yaml
deploy/overlays/local/node-envida/certs/envida_dabs-TE1002-development.pfx
deploy/overlays/local/node-envida/certs/secrets.yaml
# secrets for tst, acc and prod
deploy/overlays/*/registry-secret.yaml
deploy/overlays/*/*/registry-secret.yaml

# ELK
build-elk-arm64.sh
elk/GeoLite2-City.mmdb

# etc/hosts/ MacOS specific setup
dh-mac.sh
# Ignore secret files
deploy/overlays/*/secrets.yaml
# Ignore opencode.json
opencode.json
